<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Forked From : <a href="https://github.com/nexussjcet/git-workshop">Nexus SJCET Workshop</a> made by <a href="https://abrahamraji.in">Abraham Raji</a> <br/>
    © Copyleft by  <a class="text-reset fw-bold" href="https://nexus.sjcetpalai.ac.in/">Nexus SJCET</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
